<!Doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home | Hello Message</title>
</head>
<body>
	<div class="container">
		<div class="content" style="margin-top: 4%;">
			<h1>Welcome in landing page</h1>
		</div>
	</div>
</body>
</html>