// Basic Colors
$navy: #00a2bd;       // Primary color
$dark-gray: #c2c2c2;  // Default color
$blue: #1c84c6;       // Success color
$lazur: #23c6c8;      // Info color
$yellow: #f8ac59;     // Warrning color
$red: #ED5565;        // Danger color
$footer-bg: #003046;  // Foooter bg color

$nav-bar-height: -127px;
$white: #fff;