<div class="footer-sec">
	<div class="container">
		<div class="content-sectn">
			<div class="link-section">
				<div class="row">
					<div class="col-md-5">
						<div class="filing-sec">
							<div class="first-para">
								<p>
									"Filing Mantra provides hassle free tax filing solutions to thousands of individuals across the country. We offer Income Tax Filing services for Small Business, Self employed individuals, Professionals and Salaried individuals."
								</p>
								<p>
									"Filing Mantra teams consist of Tax Expert with more than decade of experience. it offers most effective solutions for saving taxes and getting back refund."
								</p>
								<p>
									"Filing Mantra provides year round support if Notice or Intimation is sent to you by Income Tax Department in relation to your Income Tax efiling documentation."
								</p>
							</div>
						</div>
					</div>
					<div class="col-md-7 footer-links-section">
						<div class="col-sm-4">
							<div class="panel">
								<div class="panel-heading">
									<h3 class="panel-title">Filing Mantra</h3>
									<div class="navy-lines"></div>
								</div>
								<div class="panel-body">
									<ul>
										<li>Partners<%#= link_to 'Partners', partners_path <%></li>
										<li><%#= link_to 'Contact', contactus_path %>Contact</li>
										<li><%#= link_to 'Join Us', contactus_path %>Join Us</li>
										<li><%#= link_to 'About Us', about_us_path %>About Us</li>
									</ul>
								</div>
							</div>
							<div class="panel">
								<div class="panel-heading"><h3 class="panel-title">Services</h3>
								<div class="navy-lines"></div>
								</div>
								<div class="panel-body">
									<ul>
										<li>ITR for House Property<%#= link_to 'ITR for House Property', income_tax_house_property_income_path%>
										</li>
										<li>Capital Gain<%#= link_to 'Capital Gain', income_tax_capital_gains_income_path %>
										</li>
										<li>Salary<%#= link_to 'Salary', income_tax_salary_income_path %></li>
										<li>Small Business<%#= link_to 'Small Business', income_tax_small_business_income_path %>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="panel">
								<div class="panel-heading"><h3 class="panel-title">Tax Tools</h3>
								<div class="navy-lines"></div>
								</div>
								<div class="panel-body">
									<!-- <span class="glyphicon glyphicon-earphone"></span> 323-555-5555 -->
									<ul>
										<li>HRA Calculator<%#= link_to 'HRA Calculator', taxtools_hra_calculator_calculate_hra_path, target: "_blank" %></li>
										<li>Generate Rent Receipt<%#= link_to 'Generate Rent Receipt', taxtools_hra_calculator_rent_receipt_generate_rent_receipt_path %></li>
										<li>Generate Form 12BB<%#= link_to 'Generate Form 12BB', taxtools_income_decleration_form_12bb_generate_income_decleration_path %></li>
										<li>Start Income Decleration<%#= link_to 'Start Income Decleration', taxtools_income_decleration_form_12bb_generate_income_decleration_path %></li>
									</ul>
								</div>
								<div class="panel-heading"><h3 class="panel-title">Resources</h3>
								<div class="navy-lines"></div>
								</div>
								<div class="panel-body">
									<ul>
										<li>Blogs<%#= link_to 'Blogs', posts_path %></li>
										<li>FAQ<%#= link_to 'FAQ', faq_path %></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="panel notes_wrapper">
								<div class="panel-heading"><h3 class="panel-title">Important Notes</h3>
								<div class="navy-lines"></div>
								</div>
								<div class="panel-body">
									<ul>
										<li>What is form 26AS<%#= link_to 'What is form 26AS', 'https://filingmantra.com/blogs/easy-steps-to-download-and-view-form-26as', target: '_blank' %></li>
										<li>Understanding form 16<%#= link_to 'Understanding form 16', 'https://filingmantra.com/blogs/understanding-form-16', target: '_blank'  %></li>
										<li>Salary vs CTC<%#= link_to 'Salary vs CTC', 'https://filingmantra.com/blogs/salary-vs-ctc', target: '_blank'  %></li>
										<li>More about section 80C<%#= link_to 'More about section 80C', 'https://filingmantra.com/blogs/tax-savings-options-under-section-80c', target: '_blank'  %></li>
										<li>Know more about Income Declaration<%#= link_to 'Know more about Income Declaration', 'https://filingmantra.com/blogs/know-more-about-income-tax-declaration', target: '_blank'  %></li>
										<li>Digital transaction<%#= link_to 'Digital transaction', 'https://filingmantra.com/blogs/tax-savings-on-digital-transactions-for-retailers', target: '_blank'  %></li>
										<li>ITR and Income proof<%#= link_to 'ITR and Income proof', 'https://filingmantra.com/blogs/itr-and-income-proof', target: '_blank'  %></li>
										<li><a href="">Know More</a><%#= link_to 'Know More...', posts_path, target: '_blank' %></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="logo-copyright-section">
			<div class="col-md-3 text-center-xs footer-logo">
				<%= link_to image_tag('logo.png', width: '200', height: '55', alt: 'logo_white_color'), root_path %>
			</div>
			<div class="col-md-2 copy_right">
				<p>&copy; 2017 Filing Mantra</p>
			</div>
			<div class="col-md-2 copy_right">
				<p><a href="">Privacy Policy</a></p>
			</div>
			<div class="col-md-2 copy_right">
				<p><a href="">Terms & Conditions</a></p>
			</div>
			<div class="col-md-3">
				<ul class="list-inline social-icons">
					<li>
						<a href="https://twitter.com/filing_mantra" target="_blank"><i class="fa fa-twitter"></i></a>
					</li>
					<li>
						<a href="https://www.facebook.com/filingmantra" target="_blank"><i class="fa fa-facebook"></i></a>
					</li>
					<li>
						<a href="https://www.linkedin.com/company/7799346" target="_blank"><i class="fa fa-linkedin"></i></a>
					</li>
					<li>
						<a href="https://plus.google.com/117850835253643864621" target="_blank"><i class="fa fa-google-plus"></i></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>